cache*
.idea
*.html
*.pkl

.env
/_to_ignore/
*__pycache__*
*.csv
*.hdf5
climada_petals/
*.nc4
*.nc4
/resources/exposures/forestry/forest_exp_region_final.h5
/results/test_run/direct/test_run_direct_impacts_complete.xlsx
/results/test_run/indirect/test_run_indirect_impacts_complete.xlsx
