cache*
.idea
*.html
*.pkl

.env
/_to_ignore/
*__pycache__*
*.csv
*.hdf5
climada_petals/
*.nc4
*.nc4
/results/test_run/direct/test_run_direct_impacts_complete.xlsx
/results/test_run/indirect/test_run_indirect_impacts_complete.xlsx
*.h5
/results/test_run/direct/test_run_direct_impacts_complete.xlsx
/results/test_run/indirect/test_run_indirect_impacts_complete.xlsx
resources/exposures/forestry/forestry_values_MRIO_avg(upd_2).h5
results/best_guesstimate_22_01_2024/direct/best_guesstimate_22_01_2024_direct_impacts_complete.xlsx
results/best_guesstimate_22_01_2024/indirect/best_guesstimate_22_01_2024_indirect_impacts_complete.xlsx
results/refin_exposures_uncal_12_04_2024/indirect/refin_exposures_uncal_12_04_2024_indirect_impacts_complete_ghosh.xlsx
results/refin_exposures_uncal_12_04_2024/indirect/refin_exposures_uncal_12_04_2024_indirect_impacts_complete_leontief.xlsx
results/refin_exposures_uncal_12_04_2024/indirect/~$refin_exposures_uncal_12_04_2024_indirect_impacts_complete_ghosh.xlsx
results/refin_exposures_uncal_12_04_2024/direct/refin_exposures_uncal_12_04_2024_direct_impacts_complete.xlsx
