.idea
MRIO_table/EXIOBASE_3rx_aggLandUseExtensions_2015_pxp.mat
/.venv/
mining/intermediate_data_MAUS/global_miningarea_v2_30arcsecond_converted.nc
mining/intermediate_data_MAUS/global_miningarea_v2_5arcminute_converted.nc
*.h5
*.csv
*.cpg
*.dbf
*.shp
*.shx
*.prj
*.geojson
*.nc
forestry/drafts
*.xml
*.iml
*.xml
*.iml
.idea/nccs-correntics.iml
*.iml
*.xml
.idea/nccs-correntics.iml
forestry/data
utilities/data
.idea/nccs-correntics.iml
*.iml
